<%- include('../_layout/adminhead'); -%>

<h2 class="page title">add a page</h2>
<a href="/adminpage/pages" class="btn btn-primary">back to all page</a>
<br><br>
<form method="POST" action="/adminpage/pages/addpage">
<div class="form-group">
  <label for="">title</label>
  <input type="text" class="form-control" name="title" value="<%= title %>" placeholder="title">
</div>
<div class="form-group">
  <label for="">slug</label>
  <input type="text" class="form-control" name="slug" value="<%= slug %>" placeholder="slug">
</div>
<div class="form-group">
  <label for="">content</label>
  <textarea  type="text" class="form-control" id="ta" name="content" placeholder="content"><%= content %></textarea>
</div>
<button class="btb btn-default">submit</button>

</form>

<%- include('../_layout/adminfoot'); -%>